@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --base-secondary-light: #a9b388;

  --primary-button-color: #685752;
  --primary-button-active-color: #473c38;
  --primary-button-hover-color: #2f2825;
  --secondary-button-color: #ddc8b5;
  --secondary-button-active-color: #c7a485;
  --secondary-button-hover-color: #b29478;
  --tertiary-button-color: #5a6a4e;
  --tertiary-button-active-color: #3e4936;
  --tertiary-button-hover-color: #3e4936;
  
  
  --primary-text-color: #685752;
  --secondnary-text-color: #8eb486;
  --tertiary-text-color: #909090;
  --contrast-text-color: #ffffff;
  --disabled-text-color: #cccccc;

  --primary-icon-color: #685752;
  --disabled-icon-color: #b3b3b3;
  --text-input-color: #7f7f7f;

  --focused-border-color: #685752;
  --disabled-border-color: #dfdfdf;

  --primary-shadow-color: #999999;
  --secondary-shadow-color: #bfbfbf;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
X
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* For Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: #000; 
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus {
    box-shadow: 0 0 0px 1000px white inset; 
    -moz-text-fill-color: #000;
}